$font-url : 'https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Teko:wght@300..700&display=swap';
:root {
    --er-fonts-body: "Rubik", sans-serif;
    --er-fonts-title: "Teko", sans-serif;
    --er-fonts-flaticon: "flaticon";
}